    <!-- <   include layouts/header %>-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/homecss.css" />
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <h1>HI FROM HOME.EJS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sit libero enim. Rerum voluptas laudantium nemo quos, vitae architecto blanditiis, 
            harum neque dolores repellat totam vel consequuntur nesciunt, ad atque.</p></div>
        <div class="row">
            <img src="/src/public/images/person" alt="me">
        </div>
    </div>

</body>

</html>