    <!-- <   include layouts/header %>-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/homecss.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>Document</title>

</head>

<body>
    <%- include("./layouts/header.ejs") %>
    <section>
        <div class="container">
            <div class="row">
                <h1>HI FROM HOME.EJS</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sit libero enim. Rerum voluptas laudantium nemo quos, vitae architecto blanditiis, 
                harum neque dolores repellat totam vel consequuntur nesciunt, ad atque.</p></div>
            <div class="row">
                <img class="img_1" src="/images/person.png" alt="me">
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <img class="img_1" src="/images/person.png" alt="me">
            </div>
            <div class="row">
                <h1>HI FROM HOME.EJS</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sit libero enim. Rerum voluptas laudantium
                    nemo quos, vitae architecto blanditiis,
                    harum neque dolores repellat totam vel consequuntur nesciunt, ad atque.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="row_s">
        <h1>Services</h1>
        <h5>all services ... ,dolores repellat totam vel consequuntur nesciunt, ad atque. </h5>
        </div>

        <div class="container_s">
            <div class="row_ss">
                <h1>lewla</h1>
            </div>
            <div class="row_ss">
                <h1>tania</h1>
            </div>
            <div class="row_ss">
                <h1>talta</h1>
            </div>
        </div>
    </section>

</body>

</html>