<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/indexcss.css" />
    <title>Document</title>
</head>

<body>
    <%- include("./layouts/header.ejs") %>

    <section>
        <div class="container1">
            <div>
                <h3 class="textd">W E L C O M E</h3>
                <h1 class="textd">Lorem ipsum dolor sit
                amet consectetur</h1>
                <p class="textd">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, modi magnam necessitatibus rem illum nam doloremque. Veniam incidunt iste mollitia aliquid repellendus rerum, sunt minima veritatis omnis nihil officiis nam.</p>
                <button class="button">Explore</button>
            </div>
            <div>
                <img src="/images/image1.png" alt="images1">
            </div>
        </div>
    </section>

    <section>
        <div class="container2">
            <div class="items21">
                <h3 class="textpartners">p a r t n e r s</h3>
                <h1>Lorem Ipsum Dolor</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>
            <div class="container22">
                <div><img src="/images/airbnb.png" alt="images2"></div>
                <div><img src="/images/faceb.png" alt="images3"></div>
                <div><img src="/images/spotify.png" alt="images4"></div>
                <div><img src="/images/google.png" alt="images5"></div>
                <div><img src="/images/mirosoft.png" alt="images6"></div>
            </div>
            <div>
                <button class="button">Learn more</button>
            </div>
        </div>
    </section>

    <section>
        <div class="container3">
            <div>
                <img src="/images/image2.png" alt="images2">
            </div>
            <div class="items3">
                <h1 class="textd2">Lorem ipsum dolor sit
                    <br>amet consectetur</h1>
                <p class="textd2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, modi magnam
                    necessitatibus rem illum nam doloremque. Veniam incidunt iste mollitia aliquid repellendus rerum, sunt
                    minima veritatis omnis nihil officiis nam.</p>
                <button class="button">Learn more</button>
            </div>

        </div>
    </section>

    <section>
        <div class="container3">
            <div class="items32">
                <h1 class="textd2">Lorem ipsum dolor sit
                    <br>amet consectetur
                </h1>
                <p class="textd2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, modi magnam
                    necessitatibus rem illum nam doloremque. Veniam incidunt iste mollitia aliquid repellendus rerum, sunt
                    minima veritatis omnis nihil officiis nam.</p>
                <button class="button">Learn more</button>
            </div>
            <div>
                <img src="/images/image3.png" alt="images2">
            </div>
        </div>
    </section>

</body>
</html>