<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/headercss.css">
    <title>header</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div>
                    <img src="" alt="logo">
                </div>
                <div>
                    <a href="/HOME" class="active">HOME</a>
                    <a href="/INDEX" class="active">INDEX</a>
                    <a href="/HOME" class="active">HOME</a>
                    <a href="/HOME" class="active">HOME</a>
                    <a href="/HOME" class="active">HOME</a>
                    <a href="/HOME" class="active">HOME</a>
                </div>
                <button href="/HOME" class="button">HIRE ME</button>
            </div>
        </nav>
    </header>
</body>
</html>

<!--         <nav >
            <div class="navv">
                <img class="img_logo" src="/images/logo.png" alt="logo" >
                <a href="/HOME">HOME</a>
                <a href="/index">INDEX</a>
                <a href="#Contact">Contact</a>
                <a href="#Contact">Contact</a>
                <a href="#Contact">Contact</a>
                <a href="#Contact">Contact</a>
                <button class="button">hire me</button>
            </div>
        </nav> -->